
#car {
    position: absolute;
    background-image: url('https://www.seekpng.com/png/full/898-8989755_image-transparent-top-view-car-png.png');
    background-size: 100% 100%;
    width: 70px;
    height: 129px;
    top: 21px;
    left: 65px;
}

.block {
    position: absolute;
    background-image: url("https://www.pngkit.com/png/full/54-544580_free-png-top-view-trees-cars-landscape-furniture.png");
    background-size: 100% 100%;
    width: 70px;
    height: 129px;
    top: 0;
}

.lamborghini {
    position: absolute;
    background-image: url("https://www.seekpng.com/png/full/54-546605_lambo-transparent-top-view-lamborghini-murcielago-lp-670.png");
    background-size: 100% 100%;
    width: 70px;
    height: 129px;
    top: 0;

}

.bmw {
    position: absolute;
    background-image: url("https://www.pngkit.com/png/full/54-544580_free-png-top-view-trees-cars-landscape-furniture.png");
    background-size: 100% 100%;
    width: 70px;
    height: 129px;
    top: 0;
}

#road2 {
    position: absolute;
    width: 512px;
    height: 850px;
    top: 100px;

}

#canvas {
    top: 50%;
    left: 165%;
    position: absolute;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
}

/*#scoreBoard{*/
/*    width: 512px;*/
/*    height: 850px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(50%,50%);*/
/*}*/

/*#scoreBoard.inner-board{*/
/*    width: inherit;*/
/*    height: inherit;*/
/*    position: relative;*/
/*}*/

/*#scoreBoard .inner-board .fuel-meter{*/
/*    position: absolute;*/
/*    top: -836px;*/
/*    left: 78px;*/
/*    width: 488px;*/
/*    height: 74px;*/

/*}*/
/*.label{*/
/*    font-size: 26px;*/
/*}*/

/*.meter-box{*/
/*    color: #FFFFFF;*/
/*    background-color: rgba(0,0,0,0.5);*/
/*    padding: 5px 10px;*/
/*}*/

#line_1 {
    position: absolute;
    height: 840px;
    width: 64px;
    top: 3px;
    left: 735px;
    z-index: 1;
}

#line_2 {
    position: absolute;
    height: 840px;
    width: 64px;
    top: 3px;
    left: 811px;
    z-index: 1;
}

#line_3 {
    position: absolute;
    height: 840px;
    width: 64px;
    top: 3px;
    left: 887px;
    z-index: 1;
}

#player_car{
    position: absolute;
    height: 157px;
    width: 214px;
    top: 689px;
    left: 738px;
    z-index: 1;
}
