table {
    border-collapse: collapse;

}

table td {

    padding: 26px;
    background: #313333;
    height: 28px ;
    width: 6px;


}

.car {
    background-image: url('https://www.seekpng.com/png/full/898-8989755_image-transparent-top-view-car-png.png');
    background-size: 100% 100%;
}

.Block {
    background-image: url("https://ya-webdesign.com/images250_/cars-plan-view-png-15.png");
    background-size: 100% 100%;
}

.road2{
    background-image: url("https://img2.pngio.com/road-lines-transparent-png-clipart-free-download-ywd-road-lines-png-420_420.png");
}