table {
    border-collapse: collapse;
}

.cell {
    padding: 26px;
    background: #313333;
    height: 40px ;
    width: 6px;
}

.car {
    background-image: url('https://www.seekpng.com/png/full/898-8989755_image-transparent-top-view-car-png.png');
    background-size: 100% 100%;
}

.block {
    background-image: url("https://www.pngkit.com/png/full/54-544580_free-png-top-view-trees-cars-landscape-furniture.png");
    background-size: 100% 100%;
}

/*.royce{*/
/*    background-image: url("");*/
/*    background-size: 100% 100%;*/
/*}*/

.lamborghini {
     background-image: url("https://www.seekpng.com/png/full/54-546605_lambo-transparent-top-view-lamborghini-murcielago-lp-670.png");
     background-size: 100% 100%;
 }

/*.mercedes {*/
/*      background-image: url("");*/
/*      background-size: 100% 100%;*/
/*  }*/

.bmw {
       background-image: url("https://www.pngkit.com/png/full/54-544580_free-png-top-view-trees-cars-landscape-furniture.png");
       background-size: 100% 100%;
   }

/*.volkswagen {*/
/*        background-image: url("");*/
/*        background-size: 100% 100%;*/
/*    }*/

/*.audi {*/
/*         background-image: url("");*/
/*         background-size: 100% 100%;*/
/*     }*/

/*.ferrari {*/
/*          background-image: url("");*/
/*          background-size: 100% 100%;*/
/*      }*/

.road{
    background-color: yellow;
    height: 28px ;
    width: 6px;
}

.grey{
    background-color:  #313333;
}

.white{
    background-color: yellow;
}

#scoreDiv{
    position: relative;
    height:0;
    background-color: #000;
    opacity: 0.65;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    bottom: 0;
    z-index: 1;
    text-align: justify;
}

#road2{
    background-color: black;
}

#road3{
    color: #FFF;
    z-index: 80;
    position: absolute;
}

#gameOver{
    color: #FFF;
    font-size: 320px;
    position: absolute;
    text-align: center;
    text-align: -webkit-center;
}